<div class="w-full bg-gray-100 p-8">
  <div class="w-full bg-white p-8 shadow-lg rounded-md">

    <!-- Header -->
    <div class="flex justify-between items-center mb-2">

      <!-- Logo & Title -->
      <div class="flex items-center gap-3">
        <%= image_tag "logo.png", alt: "Transaction Icon", class: "w-10 h-10" %>
        <h1 class="text-3xl font-bold font-serif">
          TRANSACTION MANAGEMENT SYSTEM
        </h1>
      </div>

      <!-- Search form -->
      <div>
        <%= form_with url: transactions_path, method: :get, local: true, class: "flex gap-2" do %>
          <%= text_field_tag "q[account_holder_name_cont]", params.dig(:q, :account_holder_name_cont), placeholder: "Search by Holder Name", class: "border px-2 py-1 rounded w-64" %>
          <%= submit_tag "Search", class: "bg-blue-500 text-white px-4 py-1 rounded" %>
        <% end %>
      </div>
    </div>

    <hr class="h-3 bg-blue-800 mb-2" />

    <!-- Body -->
    <div class="flex justify-between items-center mb-4">

      <!-- Transactions count -->
      <div class="text-lg font-medium">
        Total Transactions:
        <span id="transaction_count" class="font-bold text-blue-600"><%= @transaction_count %></span>
      </div>

      <!-- Add Button -->
      <div class="relative" data-controller="dropdown" data-action="click@window->dropdown#closeUnlessDropdown">        
        <div class="flex justify-end mb-4">
          <button
            type="button"
            data-action="click->dropdown#toggle"
            class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700"
          >
            Add Transaction
          </button>
          <% menu_classes = "absolute top-12 -left-40 w-70 h-100 bg-white border-2 border-green-800 rounded-lg gap-4 p-2" %>
          <% menu_classes << " hidden" unless @transaction.errors.any? %>
            <div class="<%= menu_classes %>" data-dropdown-target="menu">
              <%= render "form", transaction: @transaction %>
            </div>
        </div>
      </div>
    </div>
    <%= render "table" %>
  </div>
</div>
